*{
    margin: 0;
    padding: 0;
}
#container{
    width: 1200px;
    margin: 0px auto;
}

#header{
    height: 120px;
    width: 100%;
    background-color: coral;

}

#leftaside{
    float: left;
    width: 250px;
    height: 600px;
    background-color: cornflowerblue;
    padding: 10px;
    box-sizing: border-box;
}

#contents{
    width: 800px;
    height: 600px;
    float: left;
    background-color: cornsilk;
    padding: 10px;
    box-sizing: border-box;
}

#rightaside{
    float: right;
    width: 150px;
    height: 600px;
    background-color: crimson;

}

#footer{
    width: 1160px
    height: 100px;
    clear: both;
    background-color: cyan;

}